In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [30]:
## Load the dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [31]:
## Dropping columns that are not needed
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [32]:
## Exploring the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [33]:
# Checking all categories in the Geography column
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [34]:
# Checking all categories in the Gender column
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [35]:
# Checking for missing values
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### Conclusions

1. The following columns needs to be labeled encoded: 
    1. Geography.
    2. Gender.
2. The following columns needs to be normalized:
    1. CreditScore.
    2. Age.
    3. Tenure.
    4. Balance.
    5. NumOfProducts.
    6. HasCrCard.
    7. IsActiveMember.
    8. EstimateSalary.

In [36]:
# Encoding categorical data
gender_label = LabelEncoder()
data['Gender'] = gender_label.fit_transform(data['Gender'])

In [37]:
## Onehot encoding the Geography column
## Using Onehot encoding instead of Label encoding because the model might think that the values are ordinal
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder_geo = OneHotEncoder()
geo_encoded = one_hot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [38]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [39]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [40]:
## Combine one hot encoder columns with the original data
data = pd.concat([geo_encoded_df, data], axis=1)
data = data.drop('Geography', axis=1)

In [41]:
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [42]:
data.head()

   Geography_France  Geography_Germany  ...  EstimatedSalary  Exited
0               1.0                0.0  ...        101348.88       1
1               0.0                0.0  ...        112542.58       0
2               1.0                0.0  ...        113931.57       1
3               1.0                0.0  ...         93826.63       0
4               0.0                0.0  ...         79084.10       0

[5 rows x 13 columns]

In [43]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(gender_label, file)


with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)

In [44]:
## Splitting the dataset
X = data.drop('Exited', axis=1)
y = data['Exited']

In [45]:
## Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [46]:
pd.DataFrame(X_train, columns=X.columns).head()

   Geography_France  Geography_Germany  ...  IsActiveMember  EstimatedSalary
0          1.001501          -0.579467  ...        0.974817         1.367670
1         -0.998501           1.725723  ...        0.974817         1.661254
2         -0.998501          -0.579467  ...       -1.025834        -0.252807
3          1.001501          -0.579467  ...       -1.025834         0.915393
4          1.001501          -0.579467  ...       -1.025834        -1.059600

[5 rows x 12 columns]

In [47]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN  Implementation

In [48]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [49]:
X_train.shape[1]

12

In [50]:
## Build or ANN Model
model = Sequential(
    [
        # First hidden layer, input shape is the number of features
        Dense(units=64, activation='relu', input_shape=(X_train.shape[1],)), ## Hidden layer 1 connected to input layer
        Dense(units=32, activation='relu'), # Hidden layer 2
        Dense(units=1, activation='sigmoid'), # Output layer
    ]
)

2024-10-03 22:12:10.445652: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-10-03 22:12:10.446942: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...