In [182]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [183]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

### Output feature will be salary

In [184]:
## Drop the columns that are not required
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [185]:
## Checking the dataset data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [186]:
## Checking for null values
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [187]:
## Checkcing values for Gender
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [188]:
## Label Encoding for Gender
gender_label_encoder = LabelEncoder()
data['Gender'] = gender_label_encoder.fit_transform(data['Gender'])

In [189]:
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [190]:
## Checking values for Geography
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [191]:
## One Hot Encoding for Geography
geography_onehot_encoder = OneHotEncoder()
geo_encoded = geography_onehot_encoder.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [192]:
geography_onehot_encoder.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [193]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=geography_onehot_encoder.get_feature_names_out())
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [194]:
## Merging geography encoded data with original data and droping the original Geography column

data_df = pd.concat([geo_encoded_df, data], axis=1)

data_df = data_df.drop(['Geography'], axis=1)

data_df.head()

   Geography_France  Geography_Germany  ...  EstimatedSalary  Exited
0               1.0                0.0  ...        101348.88       1
1               0.0                0.0  ...        112542.58       0
2               1.0                0.0  ...        113931.57       1
3               1.0                0.0  ...         93826.63       0
4               0.0                0.0  ...         79084.10       0

[5 rows x 13 columns]

In [195]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geography_France   10000 non-null  float64
 1   Geography_Germany  10000 non-null  float64
 2   Geography_Spain    10000 non-null  float64
 3   CreditScore        10000 non-null  int64
 4   Gender             10000 non-null  int64
 5   Age                10000 non-null  int64
 6   Tenure             10000 non-null  int64
 7   Balance            10000 non-null  float64
 8   NumOfProducts      10000 non-null  int64
 9   HasCrCard          10000 non-null  int64
 10  IsActiveMember     10000 non-null  int64
 11  EstimatedSalary    10000 non-null  float64
 12  Exited             10000 non-null  int64
dtypes: float64(5), int64(8)
memory usage: 1015.8 KB

In [196]:
## Exporting the label and the one hot encoder
with open('label_encoder_gender_reg.pkl', 'wb') as file:
    pickle.dump(gender_label_encoder, file)


with open('onehot_encoder_geo_reg.pkl', 'wb') as file:
    pickle.dump(geography_onehot_encoder, file)

In [197]:
## Splitting the data into dependent and independent features
X = data_df.drop(['EstimatedSalary'], axis=1)
y = data_df['EstimatedSalary']

In [198]:
X

      Geography_France  Geography_Germany  ...  IsActiveMember  Exited
0                  1.0                0.0  ...               1       1
1                  0.0                0.0  ...               1       0
2                  1.0                0.0  ...               0       1
3                  1.0                0.0  ...               0       0
4                  0.0                0.0  ...               1       0
...                ...                ...  ...             ...     ...
9995               1.0                0.0  ...               0       0
9996               1.0                0.0  ...               1       0
9997               1.0                0.0  ...               1       1
9998               0.0                1.0  ...               0       1
9999               1.0                0.0  ...               0       0

[10000 rows x 12 columns]

In [199]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [200]:
## Splitting training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [201]:
## Scaling the data
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
pd.DataFrame(X_train, columns=X.columns).head()

   Geography_France  Geography_Germany  ...  IsActiveMember   Exited
0          1.001501          -0.579467  ...        0.974817 -0.50858
1         -0.998501           1.725723  ...        0.974817 -0.50858
2         -0.998501          -0.579467  ...       -1.025834  1.96626
3          1.001501          -0.579467  ...       -1.025834  1.96626
4          1.001501          -0.579467  ...       -1.025834  1.96626

[5 rows x 12 columns]

In [202]:
## Exporting the scaler
with open('scaler_reg.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regresion Implementation

In [203]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input

In [204]:
## Build or ANN Model
model = Sequential(
    [
        # First hidden layer, input shape is the number of features
        Input(shape=(X_train.shape[1],)),
        Dense(units=64, activation='relu'), ## Hidden layer 1 connected to input layer
        Dense(units=32, activation='relu'), # Hidden layer 2
        # No activation function for output layer as it is a regression problem
        Dense(1), # Output layer
    ]
)

In [205]:
## Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [206]:
## Summary of the model
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [207]:
## Set up the Tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = 'regresion-logs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [208]:
## Set up Early Stopping
## Stops the training when a monitored metric has stopped improving
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [209]:
### Training the model
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100691.0859 - mae: 100691.0859 - val_loss: 98567.4219 - val_mae: 98567.4219
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 101356.7969 - mae: 101356.7969 - val_loss: 97300.6953 - val_mae: 97300.6953
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 98871.8750 - mae: 98871.8750 - val_loss: 93994.7031 - val_mae: 93994.7031
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 95275.0625 - mae: 95275.0625 - val_loss: 88351.9141 - val_mae: 88351.9141
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 88466.3203 - mae: 88466.3203 - val_loss: 80839.5781 - val_mae: 80839.5781
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 80452.6953 - mae: 80452.6953 - val_loss: 72587.3594 - val_mae: 72587.3594
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 71395.8125 - mae: 71395.8125 - val_loss: 64923.1016 - val_mae: 64923.1016
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 64455.6758 - mae: 64455.6758 - val_loss: 58832.4609 - val_mae: 58832.4609
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 57994.0117 - mae: 57994.0117 - val_loss: 54714.1602 - val_mae: 54714.1602
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 54163.0859 - mae: 54163.0859 - val_loss: 52413.7656 - val_mae: 52413.7656
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52921.0703 - mae: 52921.0703 - val_loss: 51306.0273 - val_mae: 51306.0273
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51849.9219 - mae: 51849.9219 - val_loss: 50877.7305 - val_mae: 50877.7305
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50707.7695 - mae: 50707.7695 - val_loss: 50711.4023 - val_mae: 50711.4023
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50883.1875 - mae: 50883.1875 - val_loss: 50614.3203 - val_mae: 50614.3203
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50593.9023 - mae: 50593.9023 - val_loss: 50556.9375 - val_mae: 50556.9375
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49709.4492 - mae: 49709.4492 - val_loss: 50507.8633 - val_mae: 50507.8633
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50404.0859 - mae: 50404.0859 - val_loss: 50471.0703 - val_mae: 50471.0703
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49586.0625 - mae: 49586.0625 - val_loss: 50445.8047 - val_mae: 50445.8047
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50013.3594 - mae: 50013.3594 - val_loss: 50415.4766 - val_mae: 50415.4766
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49661.3281 - mae: 49661.3281 - val_loss: 50394.3594 - val_mae: 50394.3594
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50172.8672 - mae: 50172.8672 - val_loss: 50373.2070 - val_mae: 50373.2070
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50085.2930 - mae: 50085.2930 - val_loss: 50365.6875 - val_mae: 50365.6875
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49995.9297 - mae: 49995.9297 - val_loss: 50355.8125 - val_mae: 50355.8125
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49676.6602 - mae: 49676.6602 - val_loss: 50335.8086 - val_mae: 50335.8086
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49313.7109 - mae: 49313.7109 - val_loss: 50326.7266 - val_mae: 50326.7266
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49826.6680 - mae: 49826.6680 - val_loss: 50313.6953 - val_mae: 50313.6953
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49945.3828 - mae: 49945.3828 - val_loss: 50307.2656 - val_mae: 50307.2656
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49330.2734 - mae: 49330.2734 - val_loss: 50292.2852 - val_mae: 50292.2852
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49556.2930 - mae: 49556.2930 - val_loss: 50284.7773 - val_mae: 50284.7773
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49390.0977 - mae: 49390.0977 - val_loss: 50278.8672 - val_mae: 50278.8672
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49035.1328 - mae: 49035.1328 - val_loss: 50270.0430 - val_mae: 50270.0430
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50004.7500 - mae: 50004.7500 - val_loss: 50262.5195 - val_mae: 50262.5195
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49827.4062 - mae: 49827.4062 - val_loss: 50264.6758 - val_mae: 50264.6758
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50060.0234 - mae: 50060.0234 - val_loss: 50252.7227 - val_mae: 50252.7227
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49290.4570 - mae: 49290.4570 - val_loss: 50249.3516 - val_mae: 50249.3516
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49450.9688 - mae: 49450.9688 - val_loss: 50235.7891 - val_mae: 50235.7891
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49748.8516 - mae: 49748.8516 - val_loss: 50237.0117 - val_mae: 50237.0117
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49166.4414 - mae: 49166.4414 - val_loss: 50228.0625 - val_mae: 50228.0625
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49857.1523 - mae: 49857.1523 - val_loss: 50238.0117 - val_mae: 50238.0117
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49432.3242 - mae: 49432.3242 - val_loss: 50221.3867 - val_mae: 50221.3867
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49305.0508 - mae: 49305.0508 - val_loss: 50217.6914 - val_mae: 50217.6914
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49604.6602 - mae: 49604.6602 - val_loss: 50223.1602 - val_mae: 50223.1602
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49525.9531 - mae: 49525.9531 - val_loss: 50230.1250 - val_mae: 50230.1250
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49665.5078 - mae: 49665.5078 - val_loss: 50221.7734 - val_mae: 50221.7734
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49466.1992 - mae: 49466.1992 - val_loss: 50227.2852 - val_mae: 50227.2852
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49136.9336 - mae: 49136.9336 - val_loss: 50218.6523 - val_mae: 50218.6523
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49685.4180 - mae: 49685.4180 - val_loss: 50221.2305 - val_mae: 50221.2305
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49571.9336 - mae: 49571.9336 - val_loss: 50219.5859 - val_mae: 50219.5859
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49996.8320 - mae: 49996.8320 - val_loss: 50212.3281 - val_mae: 50212.3281
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49323.2852 - mae: 49323.2852 - val_loss: 50225.3984 - val_mae: 50225.3984
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49213.8242 - mae: 49213.8242 - val_loss: 50214.3164 - val_mae: 50214.3164
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49492.3516 - mae: 49492.3516 - val_loss: 50223.4727 - val_mae: 50223.4727
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49552.5000 - mae: 49552.5000 - val_loss: 50215.3359 - val_mae: 50215.3359
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49674.8281 - mae: 49674.8281 - val_loss: 50220.6172 - val_mae: 50220.6172
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49629.2539 - mae: 49629.2539 - val_loss: 50223.2812 - val_mae: 50223.2812
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49577.3281 - mae: 49577.3281 - val_loss: 50238.7852 - val_mae: 50238.7852
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49402.2188 - mae: 49402.2188 - val_loss: 50228.8125 - val_mae: 50228.8125
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49304.1953 - mae: 49304.1953 - val_loss: 50227.8203 - val_mae: 50227.8203
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49439.5625 - mae: 49439.5625 - val_loss: 50219.6914 - val_mae: 50219.6914

In [210]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [211]:
%tensorboard --logdir regresion-logs/fit/

Reusing TensorBoard on port 6006 (pid 10861), started 0:01:37 ago. (Use '!kill 10861' to kill it.)

In [212]:
## Evalaute model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test Loss: {test_loss}')
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51155.0430 - mae: 51155.0430
Test Loss: 50212.328125
Test MAE: 50212.328125

In [213]:
model.save('regresssion.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.